.row {
    /* Acá va 1 propiedad */
    display: flex;
}

.col {
    /* Acá van 4 propiedades */
    background-color: rgb(163, 216, 216);
    margin: 5px;
}

.col-2 {
    /* Acá va 1 propiedad */
}

.col-3 {
    /* Acá va 1 propiedad */
}